.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    margin:6px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.footer{
    padding: 1.5rem;
    background-color: rgb(241, 241, 241);
    text-align: center;
    color: black;
}